@{
    Layout = "_Root";
}

@await RenderSectionAsync("Breadcrumb", false)

<div class="master-wrapper-content-fullwidth">
    <div class="master-column-wrapper">
        <div class="center-1">
            @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.MainColumnBefore })
            @RenderBody()
            @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.MainColumnAfter })
        </div>
    </div>
</div>